{% comment %} Custom Image Section {% endcomment %}
<section>
  <h2>Custom image section</h2>
  {% if section.settings.image != blank %}
  <picture>
    <source
   media="(max-width: 800px)"
   srcset="
     {{ section.settings.image2 | image_url: width: 300 }} 300w,
     {{ section.settings.image2 | image_url: width: 600 }} 600w,
     ">
    {{ section.settings.image 
      | image_url: width: 600 
      | image_tag : widths: '300, 600',
        sizes: '(min-width: 400px) 298px, 78.75vw',
        style: 'width: 300px'
    }}
  </picture>
  {% endif %}

  <!-- <img
    srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
      {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
      {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
      {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
    src="{{ section.settings.image | image_url: width: 1500 }}"
    alt="{{ section.settings.image.alt | escape }}"
    loading="eager"
    class="faq_main_banner"
    width="100%"
    height="100%"
  > -->
</section>
{% schema %}
  {
    "name": "Custom image section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Choose Image",
        "info": "Note:Choose best quality image and 500x500 px."
      }
    ],
    "presets": [
      {
        "name": "Custom image section"
      }
    ]
  }
{% endschema %}